<!-- https://uiverse.io/Yaya12085/quiet-bear-76 -->

<div class="card" style="margin-top: 1em">
    <div class="date-time-container">
        <time class="date-time">
            <span class="year">{{.Year}}</span>
            <span class="separator"></span>
            <span class="month">{{.Month}}</span>
        </time>
    </div>
    <div class="content">
        <div class="infos">
            <span class="title">{{.Title}}</span>
            <p class="description">{{.Description}}</p>
        </div>
        <div>
            <a href="{{.Get}}"
               hx-get="{{.Get}}"
               hx-push-url="true"
               hx-trigger="click"
               hx-target="#main"
               hx-swap="innerHTML"
               class="action">{{.Blog}}</a>
        </div>
    </div>
</div>