<!DOCTYPE html>
<html lang="{{.Language}}" xmlns:hx-on="http://www.w3.org/1999/xhtml">

<!-- Info Page -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Mustermann">
    <meta name="description" content="The quick brown fox jumps over the lazy dog">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/htmx_v1.9.10.min.js"></script>
    <link rel="icon" href="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P438HwHwAGmAKH433eggAAAABJRU5ErkJggg=="><link>
</head>

<!-- icon: #ff8800 1×1 GIF -->

<body id="main" hx-on:htmx:after-Settle="initializePage()">

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon">
                <path d="M 4 4 L 4 22 L 10 22 L 10 28 L 28 28 L 28 10 L 22 10 L 22 4 Z M 6 6 L 20 6 L 20 10.5625 L 10.5625 20 L 6 20 Z M 11 8 L 11 9 L 8 9 L 8 11 L 12.9375 11 C 12.808594 12.148438 12.457031 13.054688 11.875 13.6875 C 11.53125 13.574219 11.222656 13.433594 10.96875 13.28125 C 10.265625 12.863281 10 12.417969 10 12 L 8 12 C 8 13.191406 8.734375 14.183594 9.71875 14.84375 C 9.226563 14.949219 8.65625 15 8 15 L 8 17 C 9.773438 17 11.25 16.59375 12.375 15.84375 C 12.898438 15.933594 13.429688 16 14 16 L 14 14.125 C 14.542969 13.214844 14.832031 12.152344 14.9375 11 L 16 11 L 16 9 L 13 9 L 13 8 Z M 21.4375 12 L 26 12 L 26 26 L 12 26 L 12 21.4375 Z M 20 13.84375 L 19.0625 16.6875 L 17.0625 22.6875 L 17 22.84375 L 17 24 L 19 24 L 19 23.125 L 19.03125 23 L 20.96875 23 L 21 23.125 L 21 24 L 23 24 L 23 22.84375 L 22.9375 22.6875 L 20.9375 16.6875 Z M 20 20.125 L 20.28125 21 L 19.71875 21 Z"/>
            </svg>
        </button>
        <div id="dropdown-content" class="dropdown-content">
            <a href="/de/index/4"
               hx-get="/de/index/4"
               hx-push-url="true"
               hx-trigger="click[checkIfSwap(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-de" viewBox="0 0 640 480" class="flag">
                    <path fill="#fc0" d="M0 320h640v160H0z"/>
                    <path fill="#000001" d="M0 0h640v160H0z"/>
                    <path fill="red" d="M0 160h640v160H0z"/>
                </svg>
            </a>
            <a href="/en/index/4"
               hx-get="/en/index/4"
               hx-push-url="true"
               hx-trigger="click[checkIfSwap(event)]"
               hx-target="#main"
               hx-swap="innerHTML">
                <svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-gb" viewBox="0 0 640 480" class="flag">
                    <path fill="#012169" d="M0 0h640v480H0z"/>
                    <path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0z"/>
                    <path fill="#C8102E" d="m424 281 216 159v40L369 281zm-184 20 6 35L54 480H0zM640 0v3L391 191l2-44L590 0zM0 0l239 176h-60L0 42z"/>
                    <path fill="#FFF" d="M241 0v480h160V0zM0 160v160h640V160z"/>
                    <path fill="#C8102E" d="M0 193v96h640v-96zM273 0v480h96V0z"/>
                </svg>
            </a>
        </div>
    </div>
    <a href="../index/1"
       hx-get="../index/1"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon">
            <path d="M 16 2.59375 L 15.28125 3.28125 L 2.28125 16.28125 L 3.71875 17.71875 L 5 16.4375 L 5 28 L 14 28 L 14 18 L 18 18 L 18 28 L 27 28 L 27 16.4375 L 28.28125 17.71875 L 29.71875 16.28125 L 16.71875 3.28125 Z M 16 5.4375 L 25 14.4375 L 25 26 L 20 26 L 20 16 L 12 16 L 12 26 L 7 26 L 7 14.4375 Z"/>
        </svg>
    </a>
    <a href="../index/2"
       hx-get="../index/2"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon">
            <path d="M 4 5 L 4 11 L 10 11 L 10 5 Z M 6 7 L 8 7 L 8 9 L 6 9 Z M 12 7 L 12 9 L 27 9 L 27 7 Z M 4 13 L 4 19 L 10 19 L 10 13 Z M 6 15 L 8 15 L 8 17 L 6 17 Z M 12 15 L 12 17 L 27 17 L 27 15 Z M 4 21 L 4 27 L 10 27 L 10 21 Z M 6 23 L 8 23 L 8 25 L 6 25 Z M 12 23 L 12 25 L 27 25 L 27 23 Z"/>
        </svg>
    </a>
    <a href="../index/4"
       hx-get="../index/4"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon">
            <path d="M 16 4 C 13.800781 4 12 5.800781 12 8 C 12 10.199219 13.800781 12 16 12 C 18.199219 12 20 10.199219 20 8 C 20 5.800781 18.199219 4 16 4 Z M 16 6 C 17.117188 6 18 6.882813 18 8 C 18 9.117188 17.117188 10 16 10 C 14.882813 10 14 9.117188 14 8 C 14 6.882813 14.882813 6 16 6 Z M 11 13 L 11 18 L 13 18 L 13 23 L 11 23 L 11 28 L 21 28 L 21 23 L 19 23 L 19 13 Z M 13 15 L 17 15 L 17 25 L 19 25 L 19 26 L 13 26 L 13 25 L 15 25 L 15 16 L 13 16 Z"/>
        </svg>
    </a>
    <a href="../index/5"
       hx-get="../index/5"
       hx-push-url="true"
       hx-trigger="click[checkIfSwap(event)]"
       hx-target="#main"
       hx-swap="innerHTML">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon">
            <path d="M 3 8 L 3 26 L 29 26 L 29 8 Z M 7.3125 10 L 24.6875 10 L 16 15.78125 Z M 5 10.875 L 15.4375 17.84375 L 16 18.1875 L 16.5625 17.84375 L 27 10.875 L 27 24 L 5 24 Z"/>
        </svg>
    </a>
    <a href="https://icons8.com/line-awesome" id="lineAwesomeLink" class="link">Line</a>
    <a href="https://flagicons.lipis.dev/" id="flagIconsLink" class="link">Flag</a>
    <script>
        function checkIfSwap(event) {
            let swap;
            const currentPath = window.location.pathname;
            const clickedElement = event.target.closest('a');
            const currentPathLastPart = currentPath.substring(currentPath.lastIndexOf('/') + 1);
            const hxget = clickedElement.getAttribute("hx-get")
            const hxgetLastPart = hxget.substring(hxget.lastIndexOf('/') + 1);
            const closestDiv = clickedElement.closest('div');
            if (closestDiv.id === 'dropdown-content') {
                if (hxget !== currentPath) {
                    return swap=true
                } else {
                    return swap=false
                }
            } else {
                if (hxgetLastPart !== currentPathLastPart) {
                    return swap=true
                } else {
                    return swap=false
                }
            }
        }
    </script>
</div>

<div style="padding-top: 2rem">
    <div class="custom-div1">
        <h1 class="custom-h1">{{.H1Content}}</h1>
        <p class="custom-p">{{.PContent1}}</p>
        <p class="custom-p">{{.PContent2}}</p>
    </div>
</div>

</body>

<script>
    async function initializePage() {
    }
</script>

</html>