:root {
    /* https://tailwindcss.com/docs/customizing-colors Feb. 2024 v3.4.1 */
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-10trans-900: #1118271A;
    --neutral-50: #fafafa;
    --neutral-200: #e5e5e5;
    --neutral-250: #dddddd;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-750: #333333;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --orange-200: #fed7aa;
    --orange-300: #fdba74;
}
@font-face {
    font-family:'Noto-Sans';
    src: url('/Noto-Sans-regular.woff2') format('woff2');
}
html, body {
    height: 100%;
    align-items: center;
    background: radial-gradient(var(--neutral-200), var(--neutral-400));
    font-family: 'Noto-Sans', sans-serif;
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: var(--neutral-750);
    height: 68px;
}
.navbar a {
    float: left;
    color: var(--neutral-50);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 36px;
}
.navbar a.link {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
@media (min-width: 570px) {
    #lineAwesomeLink:after {
        content: "\00a0 Awesome";
    }
    #flagIconsLink:after {
        content: "-Icons";
    }
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--neutral-50);
    height: 68px;
    padding: 16px;
    background-color: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--neutral-900);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--neutral-50);
    min-width: 5em;
    box-shadow: 0 8px 16px 0 var(--neutral-500);
    z-index: 1;
}
.dropdown-content a {
    height: 68px;
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
    border: 1px solid var(--neutral-300);
}
.dropdown-content a:hover {
    background-color: var(--neutral-250);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.custom-div1 {
    background-color: var(--neutral-50);
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 6px var(--neutral-500);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1.5rem;
    height: fit-content
}
.custom-h1 {
    font-size: 1.875rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--gray-800);
}
.custom-p {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--gray-900);
}
.card-container {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
}
.card {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: var(--neutral-50);
    box-shadow: 0 4px 6px var(--neutral-500);
    border-radius: 0.5rem;
}
.date-time-container {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0.5rem;
}
.date-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray-900);
}
.separator {
    width: 1px;
    flex: 1 1 0;
    background-color: var(--gray-10trans-900);
}
.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
}
.infos {
    border-left: 1px solid var(--gray-10trans-900);
    padding: 1rem;
}
.title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18.72px;
    color: var(--gray-900);
}
.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-700);
    text-align: justify;
}
.action {
    pointer-events: auto;
    display: block;
    background-color: var(--orange-200);
    color: var(--neutral-800);
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.25rem;
    border: 2px solid transparent;
}
.action:hover {
    background-color: var(--orange-300);
    color: var(--neutral-900);
    border-color: var(--neutral-700);
}
.custom-label {
    text-align: center;
    display: block;
    margin-top: 1em;
}
.input-style {
    background: var(--neutral-50);
    padding: 10px;
    border: 2px solid var(--neutral-300);
    border-radius: 5px;
    font-size: 16px;
    color: var(--neutral-600);
    outline: none;
}
.input-style:focus {
    border-color: var(--neutral-900);
    box-shadow: 0 0 0 0.2rem var(--neutral-500);
}
.icon {
    width: 2em;
    fill: var(--neutral-50);
}
.flag {
   width: 5.7em
}